.sidebar {
    box-sizing: border-box;
    width: 14rem;
    height: 100vh;
    border-right: 1px solid black;
    position: fixed;
    display:flex;
    justify-content: center;
    flex-direction: column;
    padding:1rem;
}
.nav-items{
    display:flex;
    width: 100%;
    align-items: center;
}
.sidebar-nav{
    list-style: none;
}
.icons{
    font-size: 2rem;
    margin-right: 0.7rem;
}

.link-txt{
    font-size: 1.3rem;
    font-weight: bold;
}
.nav-item{
    display:flex;
    align-items: center;
    margin-bottom: 1rem;
    cursor:pointer;
    padding: 0.5rem;
    border-radius: 0.3rem;
    transition: background-color 0.3s;
    transition: color 0.3s;
}
.nav-item:hover{
    background-color: #ffdcc4;
    color: white;
}

.logout-container {
    margin-top: auto;
}
